extends ../index

block main-content
  div.add-event-request-page-wrapper
    form#AuthForm.event-request-form(action='/events/' + eventData.uid + '/request/new' method="POST" enctype="multipart/form-data" autocomplete="off")
      h1= 'Форма создания заявки на ' + eventData.title


      label
        | Статус участника
      select(name="role")
        each role in textResources.eventRequestRoles
          option(value=role)= role


      div.input-container.with-fly-label
        input(type="text" id="CityInput" name="city")
        label(for="CityInput")
          | Город *

      div.custom-combo-container
        div.input-container.with-fly-label
          input(type="text" id="ClubInput" name="club")
          label(for="ClubInput")
            | Клуб *
          if clubsData && clubsData.length
            ul.combo-list
              for club in clubsData
                li(data-value=club.name)= club.name

      div.input-container.with-fly-label
        input(type="text" id="ClubNameInput" name="clubName")
        label(for="ClubNameInput")
          | Клубное имя

      div.input-container.with-fly-label
        input(type="text" id="SocialNetworkLinkInput" name="socialNetworkLink")
        label(for="SocialNetworkLinkInput")
          | Ссылка на социальные сети *

      span= "Регион *"
      div.horizontal-radio-buttons-container
        each val, key in textResources.eventRequestRegions
          input(id=key + 'Radiobutton' type="radio" name="region" value=key)
          label(for=key + 'Radiobutton')= val


      div.textarea-container.with-fly-label
        textarea(rows=5 id="RequestTextTextarea" name="text")
        label(for="RequestTextTextarea")
          | Текст заявки *

      div.documents-container
        input(id="AcceptDocumentsCheckbox" type="checkbox" name="acceptDocuments")
        label(for="AcceptDocumentsCheckbox")= "Ознакомлен со следующими документами:"
        a(href="/documents/Polozhenie_o_festivale19.doc")
          | Положение о фестивале
        a(href="/documents/Printsipy_raboty_istorichekoy_komissii.doc")
          | Принципы работы исторической комиссии

      input(id="HideChatCheckbox" type="checkbox" name="hideChat" value="true" class="like-block")
      if false
        label(for="HideChatCheckbox")= "Спрятать переписку от остальных пользователей"

      b
        | Фотографии (необходимо загрузить не менее 2х фотографий)
      div.file-input-wrapper
        input(type="file" accept=".jpg, .jpeg, .png" multiple)
        button(type="button")
          | Загрузить фотографии
        ul#EventRequestPhotoList.event-request-photos-container

      if errorText
        b.error-text= errorText

      button(id="RequestSubmitButton" disabled type="submit")
        | Создать заявку

block after-index-script
  script(src='/dist/js/landing-add-event-request.js')