extends ./../index.pug

block main-content
  div.event-requests-list-page-wrapper
    h1
      | Заявки
    if eventRequestList && eventRequestList.length
      ul.event-request-list
        for eventRequest in eventRequestList
          li
            a(href='/event_request/' + eventRequest.uid)
              if showEventName
                strong.event-name= 'Фестиваль: ' + eventRequest.eventData[0].title
              if showUserName
                strong.user-name= 'Участник: ' + eventRequest.userData[0].name + ' ' + eventRequest.userData[0].surname
              img(src=eventRequest.photosProps[0].url)
              span.is-costume-accepted= 'Костюм: ' + (eventRequest.isCostumeAccepted ? 'допущен' : 'не допущен')
              span.is-armor-accepted= 'Доспех: ' + (eventRequest.isArmorAccepted ? 'допущен' : 'не допущен')


block after-index-script
  script(src='/dist/js/landing-event-requests.js')