extends ../index

block main-content
  div.event-request-page-wrapper(data-event-request-id=eventRequestData._id)
    h1= 'Заявка на ' + eventRequestData.eventData[0].title
    if eventRequestData.role
      b
        | Статус
      span= eventRequestData.role

    b
      | Город
    p= eventRequestData.city

    if eventRequestData.club
      b
        | Клуб
      span= eventRequestData.club

    if eventRequestData.clubName
      b
        | Клубное имя
      span= eventRequestData.clubName

    if eventRequestData.socialNetworkLink
      b
        | Ссылка в социальных сетях
      a(href=eventRequestData.socialNetworkLink)= eventRequestData.socialNetworkLink

    if eventRequestData.region
      b
        | Регион
      span= textResources.eventRequestRegions[eventRequestData.region]

    b
      | Текст заявки
    p= eventRequestData.text

    b
      | Фотографии
    ul.photo-list#EventRequestPhotoList
      li
        each photoUrl in eventRequestData.photoUrls
          img(src=photoUrl)

    div.file-input-wrapper
      input(type="file" name="photo" accept=".jpg, .jpeg, .png")
      button(type="button")
        | Загрузить фотографию
      p.text-container
        span.uploaded-files-text
        br
        span.notification-text

    div.event-request-chat-container
      h2 Переписка
      div.chat-messages-container()
        if !eventRequestData.chatMessages.length
          p.empty-chat-message Переписка пуста
        each chatMessage in eventRequestData.chatMessages
          div(class='chat-message ' + (chatMessage.owner === 'user' ? 'my' : ''))!= chatMessage.text.replace(/\n/g, '<br/>')
      div.textarea-container.with-fly-label
        textarea(maxlength="500" rows="5")#ChatMessageTextarea
        label(for="ChatMessageTextarea") Текст сообщения
        img.send-chat-message-btn(src='/resources/icons/scroll.svg', v-if='newMessageText.length', @click='trySendChatMessage')



block after-index-script
  script(src='/dist/js/landing-event-request.js')