- var isSendRequestAvailable = new Date < new Date(eventData.acceptRequestEndDate)

div.event-header
  h2= eventData.title
  div.event-header-bottom-container
    b.date= formatFns.formatDbDateToWeb(eventData.date)
    if logedInUserData
      if eventData.userEventRequest
        a.request-link(href="/user_event_requests/")= 'Открыть ваши заявки'
      if isSendRequestAvailable
        - var addRequestHref = '/events/' + eventData.uid + '/request/new'
        a.request-link(href=addRequestHref)= 'Подать заявку'

div.event-content-container
    div.event-html-wrapper!= eventData.html
    - var eventRequests = eventData.eventRequests
    if logedInUserData
      include ./event-request-list