doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Kulpole fest admin page
  body
    each eventRequestsArr in eventRequestsByClubsArray
      b= 'Клуб: ' + eventRequestsArr[0].club
      table
        tr
          th.name-cell= 'Имя участника'
          th.role-cell= 'Роль'
          th.region-cell= 'Регион'
          th.empty-cell
          th.empty-cell
        each eventRequest in eventRequestsArr
          tr
            td.name-cell= eventRequest.userFullName
            td.role-cell= eventRequest.role
            td= eventRequest.region
            td
            td

      script(src='/dist/js/admin-workspace-event-requests-list-index.js')